@page
@model CinemaRazor.Pages.Genres.DeleteModel

@{
    ViewData["Title"] = "Удаление жанра";
}

<h1>Удаление жанра</h1>

<h3>Вы уверены, что хотите удалить этот жанр?</h3>
<hr />

<dl class="row">
    <dt class="col-sm-2">Название</dt>
    <dd class="col-sm-10">@Model.Genre.Name</dd>

    <dt class="col-sm-2">Описание</dt>
    <dd class="col-sm-10">
        @(!string.IsNullOrWhiteSpace(Model.Genre.Description)
                ? Model.Genre.Description
                : "Описание отсутствует")
    </dd>
</dl>

<form method="post">
    <input type="hidden" asp-for="Genre.Id" />
    <button type="submit" class="btn btn-danger">Удалить</button>
    <a asp-page="Index" class="btn btn-secondary">Назад к списку</a>
</form>
