@page
@model CinemaRazor.Pages.Genres.DetailsModel

@{
    ViewData["Title"] = "Просмотр жанра";
}

<h1>Просмотр жанра</h1>
<hr />

<dl class="row">
    <dt class="col-sm-2">Название</dt>
    <dd class="col-sm-10">@Model.Genre.Name</dd>

    <dt class="col-sm-2">Описание</dt>
    <dd class="col-sm-10">
        @(!string.IsNullOrWhiteSpace(Model.Genre.Description)
                ? Model.Genre.Description
                : "Описание отсутствует")
    </dd>
</dl>

<div>
    <a asp-page="Edit" asp-route-id="@Model.Genre.Id" class="btn btn-primary">Изменить</a>
    <a asp-page="Delete" asp-route-id="@Model.Genre.Id" class="btn btn-danger">Удалить</a>
    <a asp-page="Index" class="btn btn-secondary">Назад к списку</a>
</div>
